# Ignora file di compilazione di LaTeX
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.toc
*.nav
*.snm
*.bbl
*.blg
*.dvi
*.lof
*.lot

# Non ignorare i file PDF
!*.pdf

# Non ignorare i file .tex
!*.tex

# Non ignorare le immagini
!*.png
!*.jpg
!*.jpeg
!*.bmp
!*.svg

# Ignora tutto nella cartella nascosta .vscode, se presente
.vscode/
